body{
    display:flex;
    flex-direction:column;
    margin:0;
}

header{
    display:flex;
    justify-content: space-around;
    background-color: #1F2937;
    
    
    
}

header p{
    font-size:24px;
    color:#F9FAF8;
    margin:10px;
}

ul{
    list-style-type:none;
    display:flex;
    margin:0;
    padding:0;
}

li{
    margin-right: 20px;
    color:#E5E7EB;
    font-size:18px;
}

h2{
    font-size: 48px;
    color:#F9FAF8;
}

footer{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
}

.secrow{
display:flex;
justify-content: center;
align-items: center;
background-color: #1F2937;
padding:130px;
}

.secrow p{
    font-size:18px;
    color:#E5E7EB;
}

.seccont{
    display:flex;

}

.secchild1{
    flex:1;
    margin-bottom:7px;
}

.secchild2{
    flex:1;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
}

.firstbutton{
    color:white;
    background-color:#3882F6;
    border-radius:10px;
    padding:5px 25px 5px 25px;
   
}


.thirdrow{
    display:flex;
    flex-direction: column;
    align-items: center;
}

h3{
    font-size:36px;
    font-weight:extra-bold;
    color:#1F2937;
}

.thirdrowtext{
    
}


.thirdrowcont{
    display:flex;
    justify-content: center;
    gap:50px;
}

.cubecont{
    width:150px;
    text-align: center;
}

.cubecont p{
    margin: 16px 5px 16px 5px;
}

.cube{
    height: 150px;
    width: 150px;
    border: 3px solid blue;
    border-radius:10px;
}



.fourthrow{
background-color: lightgray;
display:flex;
justify-content: center;
align-items: center;
}

.fourthrowcont{
    width: 650px;
    
}

.quoted{
    text-align: rigth;
}

.fifthrow{
    display:flex;
    justify-content: center;
    align-items: center;

}


.fifthrowcont{
    display:flex;
}

