body{
    display:flex;
    flex-direction:column;
    margin:0;
}

header{
    display:flex;
    justify-content: space-around;
    background-color: #1F2937;
    
    
    
}

header p{
    font-size:24px;
    color:#F9FAF8;
    margin:10px;
}

ul{
    list-style-type:none;
    display:flex;
    margin:0;
    padding:0;
}

li{
    margin-right: 20px;
    color:#E5E7EB;
    font-size:18px;
}

h2{
    font-size: 48px;
    color:#F9FAF8;
    text-align:left;
}

footer{
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
}

.secrow{
display:flex;
justify-content: center;
align-items: center;
background-color: #1F2937;
padding:130px;
}

.secrow p{
    font-size:18px;
    color:#E5E7EB;
}

.seccont{
    display:flex;
    width:1200px;

}

.secchild1{
    flex:1;
    margin-bottom:7px;
    width:600px;

}

.secchild1 h2{
    margin-top:0px;
    margin-bottom:0px;
}
.secchild1 p{
    margin-top:0px;
    margin-bottom:0px;
}


.secchild2{
    flex:1;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
}

.firstbutton{
    color:white;
    background-color:#3882F6;
    border-radius:5px;
    padding:5px 25px 5px 25px;
    border: none;
    margin-top: 8px;
   
}


.thirdrow{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-bottom:120px;
}

h3{
    font-size:36px;
    font-weight:extra-bold;
    color:#1F2937;
}




.thirdrowcont{
    display:flex;
    justify-content: center;
    gap:50px;
}

.cubecont{
    width:150px;
    text-align: center;
}

.cubecont p{
    margin: 16px 5px 16px 5px;
}

.cube{
    height: 150px;
    width: 150px;
    border: 3px solid blue;
    border-radius:10px;
}



.fourthrow{

background-color: lightgray;
display:flex;
justify-content: center;
align-items: center;
padding-top:80px;
padding-bottom:80px;
}

.fourthrowcont{
    max-width: 600px;
}

.fourthrowcont p{
    margin-top:3px;
    margin-bottom:3px;
    color:#1F2937;
    font-family: light italic;
    font-size:36px;

}

#quote{
    font-style: italic;
    color: #1F2937;
    
}

#thor{
    text-align:right;
    font-weight: bold;
    font-size:26px;
    
}

.fifthrow{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top:90px;
    padding-bottom:90px;

}


.fifthrowcont{
    width: 950px;
    display:flex;
    background-color:#3882F6;
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0px 30px 0px;
    border-radius:10px;
    


}

.fifthrowcont p{
    margin-top:0px;
    margin-bottom:0px;
    margin-right:130px;
    font-size:20px;
}

.signUp{
    color: #E5E7EB;
}
.button2{
    color:white;
    background-color:#3882F6;
    box-shadow: none;
    border:2px solid white;
    padding:5px 20px 5px 20px;
    border-radius:5px;
}


