body{
    display:flex;
    flex-direction:column;
}

header{
    display:flex;
    justify-content: space-around;
    
}

ul{
    list-style-type:none;
    display:flex;
    margin:0;
    padding:0;
}

li{
    margin-right: 20px;
}

.secrow{
display:flex;
justify-content: center;
align-items: center;
}

.seccont{
    display:flex;

}

.secchild1{
    flex:1;
}

.secchild2{
    flex:1;
    display:flex;
    justify-content: center;
    align-items: center;
}